.CardsDeck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.CardsDeck_cardContainer {
  width: 80px;
  margin: 15px 7.5px;
}

.CardsDeck__card {
  position: relative;
  width: 80px;
  height: 128px;
  --bg-card-verso: url('../../assets/card.jpg');
  background: #fff var(--bg-card-verso) no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  box-shadow: -5px 5px 0 #000;
}

.CardsDeck__displayed {
  background-image: var(--bg-card);
  background-size: cover;
  background-position: center center;
  animation: turn 0.5s linear;
}

.CardsDeck__displayed.CardsDeck__wire {
  --bg-card: url('../../assets/wire.jpg');
}

.CardsDeck__displayed.CardsDeck__bomb {
  --bg-card: url('../../assets/bomb.jpg');
}

.CardsDeck__displayed.CardsDeck__neutral {
  --bg-card: url('../../assets/neutral.jpg');
}

/* Keyframes */
@keyframes turn {
  0% {
    left: 0px;
    background-image: var(--bg-card-verso);
    width: 80px;
    transform: skew(0deg, 0deg);
  }
  49% {
    background-image: var(--bg-card-verso);
  }
  50% {
    left: 30px;
    width: 0;
    transform: skew(5deg, 5deg);
  }
  51% {
    background-image: var(--bg-card);
  }
  100% {
    left: 0px;
    background-image: var(--bg-card);
    width: 80px;
    transform: skew(0deg, 0deg);
  }
}
