.CardDisplay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardDisplay__card {
  width: 300px;
  height: 500px;
  background: var(--fourth-color) var(--bg-card) center center no-repeat;
  background-size: cover;
  animation: turnRole 1s ease-in;
  border-radius: 15px;
  box-shadow: -5px 5px 0 #000;
}

.CardDisplay__card.CardDisplay__bad {
  --bg-card: url('../../assets/badguy.jpg');
}

.CardDisplay__card.CardDisplay__good {
  --bg-card: url('../../assets/goodguy.jpg');
}

.CardDisplay__card.CardDisplay__wire {
  --bg-card: url('../../assets/wire.jpg');
}

.CardDisplay__card.CardDisplay__bomb {
  --bg-card: url('../../assets/bomb.jpg');
}

.CardDisplay__card.CardDisplay__neutral {
  --bg-card: url('../../assets/neutral.jpg');
}

/* Keyframes */
@keyframes turnRole {
  0% {
    width: 0;
    height: 0;
    background-image: none;
    transform: scaleX(-1);
  }
  20% {
    background-image: var(--bg-card);
    transform: scaleX(1);
  }
  40% {
    background-image: none;
    transform: scaleX(-1);
  }
  60% {
    background-image: var(--bg-card);
    transform: scaleX(1);
  }
  80% {
    background-image: none;
    transform: scaleX(-1);
  }
  100% {
    background-image: var(--bg-card);
    background-color: var(--fourth-color);
    width: 300px;
    height: 500px;
    transform: scaleX(1);
  }
}
