.Connect__info {
  /* color: var(--primary-color); */
  color: #fff;
}

.Connect__account {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 auto;
}

.Connect__wrongNetwork {
  color: #ff0000;
}

.Connect__button {
  border: 1px solid #999;
  background: #eee;
}

.Connect__button:hover {
  border: 1px solid #000;
}
