body {
  background-color: #bbb;
  background-image: radial-gradient(circle at center center, var(--secondary-color), rgb(0, 0, 0, 1)),
    repeating-radial-gradient(
      circle at center center,
      #133357,
      var(--secondary-color),
      10px,
      transparent 20px,
      transparent 10px
    );
  /* background-image: radial-gradient(circle at center center, #00499d, rgb(0, 0, 0, 1)),
    repeating-radial-gradient(circle at center center, #00499d, #00499d, 10px, transparent 20px, transparent 10px); */
  background-blend-mode: multiply;

  margin: 0;
  display: flex;
  place-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  color: var(--primary-color);
}
